@import "tailwindcss";

:root {
  --font-jakarta: 'Plus Jakarta Sans', sans-serif;
}

body {
  font-family: var(--font-jakarta);
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}